.page-header.navbar .page-logo .logo-default{
	margin-top:5px !important;
}
.page-sidebar .sidebar-toggler, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler{
	margin-bottom: 15px;
}